small {
  opacity: .6;
}

.text-muted {
  opacity: .6;
}

.clear {
  display: block;
  overflow: hidden;
}


.device_text {
  color: #aaa;
  font-size: 12px;
  margin-left: 10px;
}
.button-demo{
  background: white;
}

.time-line{
  margin-top:100px;
  margin-left: 10px;
}

.device_name_div {
  border: 1px solid #C7D3E3;
  border-bottom: 0px solid rgb(233, 233, 233);
}

.demo{
  background: #fff;
  padding: 0.5em 2rem 1rem 2rem;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.status_nomal {
  padding: 3px 5px;
  background-color: #5CB85C;
  border-radius: 2px;
  color: #fff;
}

.status_lock {
  padding: 3px 5px;
  background-color: #7db0b8;
  border-radius: 2px;
  color: #fff;
}

.clear-float {
  clear: both;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-com {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.y-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.b-white {
  border-color: #ffffff;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-v {
  height: 100vh;
}

.h-v-5 {
  height: 50vh;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.w-40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.be-header {
  font-size: 1.8rem;
  color: @white;
  margin-left: 5.5rem;
  text-align: center;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
}

.box-ba {
  width: 60%;
}

.flex-con {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.ui-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.ui-flex, .ui-flex *, .ui-flex :after, .ui-flex :before {
  box-sizing: border-box
}

.ui-flex.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ui-flex.justify-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between
}

.ui-flex.between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.ui-flex.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.d-relative {
  position: relative;
}

.p-center {
  color: whitesmoke;
  font-size: 0.8rem;
  position: relative;
  margin: 0 0;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.ant-menu-horizontal {
  border: 0;
  border-bottom: 1px solid #432432;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 0;
}

.fleft-1m {
  width: 19.3px;
  height: 20px;
  float: left;
}

.fleft-2m {
  width: 38.6px;
  height: 20px;
  float: left;
}

.fleft-3m {
  width: 58px;
  height: 20px;
  float: left;
}

.fleft-10m {
  width: 80%;
  float: left;
}

.margin-top {
  margin-top: 4px;
}

.ant-table-thead {
  background-color: #EBF7FA;
}

.obj_ms {
  text-align: left;
  display: inline-block;
  width: 105px;
}

